@model Entities.Concrete.Admin
@{
    Layout = null;
}
<html>
<head>
    <title>Admin Yönetim Paneli Giriş</title>
    


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/StyleAdminGiriş.css" rel="stylesheet" />

</head>
<body>
    @using (Html.BeginForm("Giriş", "AdminGiriş", FormMethod.Post))
    {
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">

                            <form id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">Login</h3>

                                <div class="form-group">
                                    <label for="username" class="text-info">Mail:</label><br>
                                    <input type="text" name="adminMail" id="username" class="form-control">
                                    @Html.ValidationMessageFor(x => x.adminMail)
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Şifre:</label><br>
                                    <input type="password" name="adminPassword" id="password" class="form-control">
                                    @Html.ValidationMessageFor(x => x.adminPassword)
                                    <div class="text-right">
                                        <a href="/AdminForgotPassword/ForgotPassword" class="text-info">Şifremi unuttum</a>
                                    </div>

                                    <div id="register-link" class="text-right">
                                        Hesabınız yok mu? <a href="/AdminRegister/Register" class="text-info">Kayıt ol</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <input type="submit" class="btn btn-info btn-md" value="Giriş">

                                </div>




                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    </body>
</html>
