@using Entities.Concrete
@model List<Supporter>
@{
    ViewBag.Title = "Supporter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr:nth-child(even) {
        background-color: #D6EEEE;
    }
</style>
<h2>Supporter</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Sponsor Logosu</th>
        <th>Sponsor Adı</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.supporterId</td>
            <td><img src="@item.SupporterImage" style=" margin-bottom:20px; width:280px;height:150px" /></td>
            <td>@item.supporterName</td>
        </tr>
    }

</table>


