@model Entities.Concrete.User

<h2><b><i>Skorun</i></b></h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Score</th>
    </tr>
    <tr>

        <td>@Model.userName</td>
        <td>@Model.point</td>


    </tr>
</table>
